*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

h2 {
    color: #333;
    margin-left: 10%;
    font-weight: bold !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
  }

  p {
    color: #666;
    line-height: 1.0;
    margin-left: 10%;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 30px;
  }
  
  .form-container {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .form-container label {
    font-weight: bold;
  }
  
  .form-container input[type="text"],
  .form-container select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .form-container input[type="submit"] {
    width: auto;
    background-color: #007bff;
    color: #fff;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .recommendation-container {
    background-color: #f7f7f7;
    padding: 20px;
    border: 5px double #ccc;
    border-radius: 5px;
    margin-top: 30px;
}

.recommendation-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
}

.recommended-course {
    margin-bottom: 5px;
    color: black;
}
  
  footer {
    background-color: #e7eaec;
    padding: 10px;
    font-size: 15px;
    color: #888;
    display: flex !;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: auto;
  }