*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.cover{
    width: 900px;
    height: 400px;
    margin-top: 50px;
    display: flex;
}
.box{
    width: 800px;
    height: 400px;
    margin-left: 100px;
    margin-right: 50px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img{
    width: 500px;
    height: 200px;
    display: flex;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}