* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

main {
    max-width: 1200px;
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .card {
    width: calc(20% - 20px);
    height: 200px;
    border: 5px double lightgrey;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .card .caption {
    text-align: center;
    padding: 10px;
}

main .card .caption p {
    padding: 5px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}